    .story-container{
      width: 980px;
      height: 670px;
      border: 1px solid #C1C1C1;
      position: relative;
      overflow: hidden;
    }
    .crop-tracker{
      width: 1000px;
      height: 190px;
      top: 500px;
      overflow-y: scroll;
      position: absolute;
      z-index: 1000;
    }
    .trackercontent{
    	height: 11925px;
    	width:985px;
    }
    .story-slide{
      width: 980px;
      position: relative;
      height: 690px;
      overflow-x: scroll;
      overflow-y: hidden;
    }
    .story-slide-container{
      position: relative;
    width: 12700px;
    height: 670px;
    }
    #personnage{
      position: relative;
      top: -170px;
    }
    .story{
      position: absolute;
    }
#mystory{
  position: relative;
  height: 670px;
}

.loader{
  position: absolute;
  z-index: 4000;
  top: 0;
  left: 0;
  width: 980px;
  height: 670px;
  background: #fff;
  text-align: center;
}
.loader h1{
  font-size: 200px;
  color: #E91E79;
}
.loader h3{
  margin-top: -40px;
  margin-bottom: 90px;
  color: #88C23F;
}
.loader .letsgo{
  font-size: 80px;
}
a.back{
  color: #E91E79;
}
.scrollhere{
  position: absolute;
  left: 350px;
  top: 20px;
  z-index: 3000;
}
#mystory,
#mystory tbody{
  width: 12213px;
}

#mystory,
#mystory tr,
#mystory td,
#mystory tbody{
  border: none!important;
  border-spacing: 0!important;
  border-color: none!important;
}
.clearfix::after{
  content: " ";
  visibility: hidden;
  display: block;
}
#mycontent{
  height: 500px;
  width:12700px;
}
.contenu1{
  background: url(/sites/www.cesar.lc/themes/cesarlc/experiences/moncv/files/tableau.png);
/*   width: 3200px; */
  padding-right: 60px;
}
.contenu2{
/*   width: 1500px; */
  padding-right: 60px;
}
.contenu3{
/*   width: 3000px; */

  background: url(/sites/www.cesar.lc/themes/cesarlc/experiences/moncv/files/cubes.png);
}
#myroad{
  height: 170px;
  width:12700px;
}
.road1{
  background: url(/sites/www.cesar.lc/themes/cesarlc/experiences/moncv/files/cahier.png);
/*   width: 3200px; */
  padding-right: 60px;
}
.road2{
  background: url(/sites/www.cesar.lc/themes/cesarlc/experiences/moncv/files/road.png);
/*   width: 1500px; */
  padding-right: 60px;
}
.road3{
  background: url(/sites/www.cesar.lc/themes/cesarlc/experiences/moncv/files/mariobg.png);
/*   width: 3000px; */
  padding-right: 60px;
}
#punition{
  width: 580px;
  height: 455px;
}

.hal{
  font-family: 'Gloria Hallelujah', cursive;
}
.vtx{
  font-family: 'VT323', cursive;
}
h3.hal{
  font-size: 45px;
  margin: 45px 0;
}
h4.hal{
  font-size: 24px;
  line-height: 30px;
  margin: 31px 0;
}
h1.vtx{
  font-size: 180px;
}
h3.vtx{
  font-size: 71px;
  margin: 71px 0;
}
h4.vtx{
  font-size: 24px;
  line-height: 30px;
  margin: 31px 0;
}
.blu{
  color:#3F94E0;
}
.wht{
  color: #fff;
}
.blk{
  color: #000;
}
.abs{
  position: absolute;
}
.stbk{
  float: left;
  position: relative;
}

/* dates */
.date{
  position:absolute;
  font-size: 50px;
  left: 500px;
  font-family: 'Gloria Hallelujah', cursive;
  margin: 66px 0;
}
.date1{
  left: 200px;
  top: -30px;
}
.date2{
  top: 300px;
}
.date3{
  top: 1246px;
}
.date4{
  top: 3350px;
}
.date5{
  top: 3768px;
}
.date6{
  top: 4288px;
}
.date7{
  top: 5148px;
}
.date8{
  top: 6394px;
}
.date9{
  top: 8168px;
}





/* stbk1 */
.stbk1{
  width: 700px;
}
.stbk1 .lra{
  position: absolute;
  left: 350px;
  top: 20px;
}
.stbk1 .greve{
  position: absolute;
  left: 470px;
  top: 100px;
}
.stbk1 .croix{
  left: 470px;
  top: 60px;
}
/* stbk2 */
.stbk2{
  margin-left: 40px;
}
/* stbk3 */
.stbk3{
  margin-left: 40px;
  width: 400px;
}
.stbk3 .bele{
  top: 20px;
  line-height: 40px;
  left: 250px;
}
/* stbk4 */
/* stbk5 */
.stbk5{
  width: 650px;
  margin-left: 40px;
}
.stbk5 .prom1{
  top: 20px;
  left: 330px;
}
.stbk5 .prom2{
  top: 300px;
  left: 330px;
}
/* stbk6 */
.stbk6{
  width: 400px;
  margin-left: 40px;
}
.stbk6 .bat1-1{
  top: -20px;
  left: 10px;
}
.stbk6 .bat1-2{
  top: -20px;
  left: 240px;
}
/* stbk7 */
.stbk7{
  width: 440px;
  margin-left: 40px;
}
.stbk7 .bat2img{
  padding-top: 40px;
}
.stbk7 .bat2-1{
  top: -20px;
  left: 0px;
}
.stbk7 .bat2-2{
  top: -20px;
  left: 230px;
}

/* ----------------------- tunnel 1 */
.tunnel1{
  position: absolute;
  background: #FF801E;
  height: 670px;
  width: 330px;
  z-index: 300;
  display: block;
  text-align: center;
}
.tunnel1 .puis{
  top: 200px;
  left: 145px;
}
.tunnel1 .etudes{
  top: 220px;
  left: 26px;
}
.tunnelroad1{
  width: 330px;
}

/* stbk8 */
.stbk8{
  margin-left: 40px;
}
.stbk8 .phil{
  top: 340px;
  left: 190px;
}
/* stbk9 */
.stbk9{
  margin-left: 40px;
}
.stbk9 .phil{
  top: 340px;
  left: 120px;
}
  @-webkit-keyframes eyesrotation{
    0% {-webkit-transform: rotate(-720deg);}
    50% {-webkit-transform: rotate(0deg);}
    100% {-webkit-transform: rotate(720deg);}
  }
  @-moz-keyframes eyesrotation{
    0% {-moz-transform: rotate(-720deg);}
    50% {-moz-transform: rotate(0deg);}
    100% {-moz-transform: rotate(720deg);}
  }
  @-o-keyframes eyesrotation{
    0% {-o-transform: rotate(-720deg);}
    50% {-o-transform: rotate(0deg);}
    100% {-o-transform: rotate(720deg);}
  }


.stbk9 .eyes{
  width: 57px;
  height: 57px;
  background: url(/sites/www.cesar.lc/themes/cesarlc/experiences/moncv/files/eyes.png);
  -webkit-animation: eyesrotation infinite linear 1s;
  -moz-animation: eyesrotation infinite linear 1s;
  -o-animation: eyesrotation infinite linear 1s;
}
.stbk9 .eyes1{
  top: 200px;
  left: 130px;
}
.stbk9 .eyes2{
  top: 200px;
  left: 220px;
}
/* stbk10 */
.stbk10{
  margin-left: 40px;
}
.stbk10 .druplicon{
  top: 27px;
  left: 145px;
}
.stbk10 .phil{
  top: 340px;
  left: 90px;
}

/* ----------------------- tunnel 2 */
.tunnel2{
  position: absolute;
  background: #D81E79;
  height: 670px;
  width: 330px;
  z-index: 300;
  display: block;
  text-align: center;
}
.tunnel2 .puis{
  top: 200px;
  left: 145px;
}
.tunnel2 .nerd{
  top: 150px;
  left: 15px;
  margin: 120px 0;
}
.tunnelroad2{
  width: 330px;
}


/* stbk11 */
.stbk11{
  margin-left: 60px;
}
.stbk11 img{
  margin-top: 75px;
}
.stbk11 .phil{
  top: -83px;
  left: 23px;
}
.stbk11 .free{
  top: 290px;
  left: 45px;
}

/* stbk12 */
.stbk12{
  margin-left: 60px;
  width: 581px;
}
.stbk12 .laa{
  left: 320px;
  top: -10px;
}
/* stbk13 */
.stbk13 .poste{
  top: 310px;
}
/* stbk14 */
.stbk14{
  margin-left: 60px;
}
.stbk14 img{
  margin-top: 20px;
}
/* stbk15 */
.stbk15{
  margin-left: 60px;
  width: 600px;
}
.stbk15 img{
  margin-top: 20px;
}
.stbk15 .elephants{
  left: 300px;
  top:-10px;
}
/* stbk16 */
.stbk16{
  margin-left: 60px;
  width: 300px;
}
.stbk16 img{
  margin-top: 160px;
}
.stbk16 .activefab{
  top: 160px;
}
/* stbk17 18 19 ...*/
.stbk17, .stbk18, .stbk19, .stbk20, .stbk21, .stbk22, .stbk23, .stbk24, .stbk25, .stbk26{
  margin-left: 60px;
  width: 280px;
}

/* stbk27 */
.stbk27{
  width: 500px;
}
.stbk27 .bigquestionmark{
  font-size: 400px!important;
  top: -600px;
  left: 40px;
  margin: 268px 0;
}
.stbk27 .suite{
  left: 40px;
}
.stbk27 .suite a{
  color: #000;
}
.loader a{
  color: #88C23F;
}
.caload{
  margin: 0 auto;
  width: 72px;
  height: 24px;
  background: url(/sites/www.cesar.lc/themes/cesarlc/experiences/moncv/files/pacman-loader.gif) repeat-x;
}