---
layout: page
title: "César LEBLIC - Développeur"
no-title: true
id: front
---
{% include JB/setup %}
{% include JB/setup %}

<div class="demo-front-block">
  <h2 class="blue">Démo du moment</h2>
  {% assign stop = false %}
  {% for node in site.posts %}
    {% if node.category == "demo" and node.promote == "true" and stop == false%}
      <div class="post-attachment clearfix">
        <h4 class="post-attachment-title">{{ node.title }}</h4>
	  {{ node.content }}
          {% if node.scripts %}
            {% for sc in node.scripts %}
	      <script src="{{sc}}"></script>
            {% endfor %}
        {% endif %}
	{% if node.styles %}
          {% for sc in node.styles %}
            <link rel="stylesheet" href="{{sc}}">
          {% endfor %}
        {% endif %}
       </div>
      {% assign stop = true %}
    {% endif %}
  {% endfor %}
</div>

<h2 class="blue">Derniers posts</h2>

<div class="posts promotion-list">
  {% for post in site.posts %}
    {% if post.category == "post" %}
      <div class="promoted post clearfix">
        <div class="field-created">
          <span>{{ post.date | date_to_string }}</span>
        </div>
        {% if post.illustration != null %}
          <div class="field-illustration clearfix">
            <a href="{{ BASE_PATH }}{{ post.url }}" class="clearfix"><img src="{{ post.illustration }}" class="img img-illustration clearfix" /></a>
          </div>
        {% endif %}
        <div class="field-title">
          <a href="{{ BASE_PATH }}{{ post.url }}">{{ post.title }}</a>
        </div>
        <div class="field-body">
          {{ post.content | strip_html | truncate: 430 }}
        </div>
      </div>
    {% endif %}
  {% endfor %}
</div>


