---
layout: page
title: "Portfolio"
weight: 10
description: ""
no-title: true
type: txt
---
{% include JB/setup %}

<i><b>remarque</b>: ce portfolio rassemble mes principales réalisations professionnelles de 2009 à 2011 en tant que développeur web (principalement Drupal)</i>

<div class="logo-clients"></div>
<div class="portfolio-container">
<article class="article">
  <h3>Une vie avec Oradour</h3>
  <section class="section">
    <p>Développement et intégration du site «Une vie avec Oradour», film documentaire de Patrick Séraudie. Sortie du film en 21 septembre 2011.</p>
    </section>
  <ul class="liste">
    <li class="client"><span class="intitule">Client : </span>Nour Films</li>
    <li class="technos">Développement (Drupal) et intégration</li>
    <li class="date">06/2011</li>
    <li class="url"><a href="http://www.oradour-lefilm.com/">Lien</a></li>
    </ul>
</article>
<article class="article">
  <h3>Cloud Rock, mon père</h3>
  <section class="section">
    <p>Développement et intégration du site «Cloud Rock, mon père», film documentaire de Kaleo La Belle. Sortie du film en octobre 2011.</p>
    </section>
  <ul class="liste">
    <li class="client"><span class="intitule">Client : </span>Nour Films</li>
    <li class="technos">Développement (Drupal) et intégration</li>
    <li class="date">06/2011</li>
    <li class="url"><a href="http://www.cloudrock-lefilm.com/">Lien</a></li>
    </ul>
</article>
<article class="article">
  <h3>Brenac et Gonzalez</h3>
  <section class="section">
    <p>Refonte du site de l'agence d'architecture Brenac et Gonzalez. Sortie prochaine</p>
    </section>
  <ul class="liste">
    <li class="client"><span class="intitule">Client : </span>Brenac et Gonzalez</li>
    <li class="technos">Développement (Drupal) et intégration. Design de <a href="http://jjllnn.fr/">Jjllnn</a> et d'<a href="http://www.amandine-soucasse.com">Amandine Soucasse</a></li>
    <li class="date">06/2011</li>
    <li class="url"><a href="http://www.brenac-gonzalez.fr/">Lien</a></li>
    </ul>
</article>
<article class="article">
  <h3>Altedia</h3>
  <section class="section">
    <p>Refactorisation html / css de l'outil Mobilis d'Altedia (du groupe Adecco).</p>
    </section>
  <ul class="liste">
    <li class="client"><span class="intitule">Client : </span>Altedia</li>
    <li class="technos">Refactorisation html/css</li>
    <li class="date">05/2011</li>
    </ul>
</article>
<article class="article">
  <h3>Osez le Clito !</h3>
  <section class="section">
    <p>Développement du site internet de la campagne d’Osez le Féminisme, «Osez le Clito !». Plus de 160 000 visites le premier mois.</p>
    </section>
  <ul class="liste">
    <li class="client"><span class="intitule">Client : </span>Osez le Féminisme</li>
    <li class="technos">Développement (Drupal) et intégration</li>
    <li class="date">05/2011</li>
    <li class="url"><a href="http://www.osezleclito.fr">Lien</a></li>
    </ul>
</article>
<article class="article">
  <h3>Mon 10 Mai</h3>
  <section class="section">
    <p>Développement et intégration d'un site participatif pour fêter l'anniversaire de la victoire de François Mitterrand, le 10 mai 1981 aux éléctions présidentielles.</p>
    </section>
  <ul class="liste">
    <li class="client"><span class="intitule">Client : </span>Parti Socialiste</li>
    <li class="technos">Développement (Drupal) et intégration</li>
    <li class="date">05/2011</li>
    <li class="url"><a href="http://www.mon10mai.fr">Lien</a></li>
    </ul>
</article>
<article class="article">
  <h3>Planning Familial</h3>
  <section class="section">
    <p>Chargé de rédaction du cahier des charges pour la refonte du site du Planning Familial.</p>
    </section>
  <ul class="liste">
    <li class="technos">Audit et conseil</li>
    <li class="date">11/2010</li>
    </ul>
</article>
<article class="article">
  <h3>HQB Conseil</h3>
  <section class="section">
    <p>Développement et intégration du site d'HQB conseil, cabinet de conseil dans le domaine du logement et de l'aménagement.</p>
    </section>
  <ul class="liste">
    <li class="client"><span class="intitule">Client : </span>HQB Conseil</li>
    <li class="technos">Développement (Drupal) et intégration</li>
    <li class="date">12/2010</li>
    <li class="url"><a href="http://www.hqbconseil.com/">Lien</a></li>
    </ul>
</article>
<article class="article">
  <h3>Quadrangle Film Festival</h3>
  <section class="section">
    <p>Développement et design du site «Quadrangle film festival», festival documentaire à Londres en septembre 2011.</p>
    </section>
  <ul class="liste">
    <li class="client"><span class="intitule">Client : </span>Quadrangle Film Festival</li>
    <li class="technos">Développement (Drupal), design et intégration</li>
    <li class="date">12/2010</li>
    <li class="url"><a href="http://www.quadranglefilmfest.com">Lien</a></li>
    </ul>
</article>
<article class="article">
  <h3>Contre le Viol</h3>
  <section class="section">
    <p>Développement du site internet de la campagne d’Osez le Féminisme, «Contre le viol, la honte doit changer de camp». Plus de 100 000 visites le premier mois et 30 000 signatures de la pétition en ligne.</p>
    </section>
  <ul class="liste">
    <li class="client"><span class="intitule">Client : </span>Osez le Féminisme</li>
    <li class="technos">Développement (Drupal) et intégration</li>
    <li class="date">11/2010</li>
    <li class="url"><a href="http://www.contreleviol.fr">Lien</a></li>
    </ul>
</article>
<article class="article">
  <h3>La femme aux 5 éléphants</h3>
  <section class="section">
    <p>Développement et design du site «La femme aux 5 éléphants», film documentaire sur Swetlana Geier, traductrice du Russe à l’Allemand de Dostoïevski. Sortie du film en octobre 2010.</p>
    </section>
  <ul class="liste">
    <li class="client"><span class="intitule">Client : </span>Nour Films</li>
    <li class="technos">Développement (Drupal) et intégration</li>
    <li class="date">05/2010</li>
    <li class="url"><a href="http://5elephants-lefilm.com">Lien</a></li>
    </ul>
</article>
<article class="article">
  <h3>États généraux du service public</h3>
  <section class="section">
    <p>Participation graphique (logo, tracts...) à la campagne «Les états généraux du service public».</p>
    </section>
  <ul class="liste">
    <li class="date">03/2010</li>
    </ul>
</article>
<article class="article">
  <h3>Touche pas à ma poste</h3>
  <section class="section">
    <p>Participation graphique (logos, drafts, tracts...) à la campagne contre la privatisation de la poste.</p>
    </section>
  <ul class="liste">
    <li class="date">01/2010</li>
    </ul>
</article>
<article class="article">
  <h3>Campagne de promotion du film "Lettre à Anna"</h3>
  <section class="section">
    <p>Organisation et réalisation de la campagne de présence sur internet du documentaire. Présence Facebook (animation de groupes, pages, profils), campagne Adword, tracking et rediffusion ciblée, synchronisation des publications entre le site et les réseaux sociaux...</p>
    </section>
  <ul class="liste">
    <li class="client"><span class="intitule">Client : </span>Nour Films</li>
    <li class="date">10/2009</li>
    </ul>
</article>
<article class="article">
  <h3>Lettre à Anna</h3>
  <section class="section">
    <p>Développement et design du site «Lettre à Anna», un documentaire sur Anna Politkovskaïa.</p>
    </section>
  <ul class="liste">
    <li class="client"><span class="intitule">Client : </span>Nour Films</li>
    <li class="technos">Développement (Drupal) et intégration</li>
    <li class="date">10/2009</li>
    <li class="url"><a href="http://www.lettreaanna-lefilm.com">Lien</a></li>
    </ul>
</article>
<article class="article">
  <h3>Studio Des Plantes</h3>
  <section class="section">
    <p>Refonte du site internet du Studio Des Plantes, entreprise parisienne de photographie publicitaire et de graphisme.</p>
    </section>
  <ul class="liste">
    <li class="client"><span class="intitule">Client : </span>Studio Des Plantes</li>
    <li class="technos">Développement (Drupal) et intégration</li>
    <li class="date">09/2009</li>
    <li class="url"><a href="http://www.studiodesplantes.fr">Lien</a></li>
    </ul>
</article></div>

