		td {
		  color: #fff;
		  background: #000;
		  font-size: 20px;
		  min-width:15px;
		  max-width: 15px;
		  display: none;
		  text-align: center;
		  vertical-align: middle;
		  text-transform: capitalize;
		  font-family: Arial;
		  height: 20px;
		  font-weight: bold;
		}
		tr, table, td{
		border:none!important;
		border-spacing: 0;
		}
		.mini-container{
		  margin-left: auto;
		  margin-right: auto;
		  width: 697px;
		}
		body{
		  background: #000;
		}