#recipient h1{
  font-size: 109px;
  color: #88C23F;
  text-shadow: 0 0 12px rgba(0,0,0,0.5);
  -moz-transition: all 0s ease-out;
  -o-transition: all 0s ease-out;
  -webkit-transition: all 0s ease-out;
  transition: all 0s ease-out;
  margin-left: 260px;
  display: block;
  margin-top: 20px;
  font-family: 'Carter One';
}
#my_canvas{
  margin-left: 240px;
  top: 62px;
}
#recipient a{
  text-decoration: none;
  color: #E91E79;
}
