#toolbar{
    height: 40px;
    width: 910px;
    margin-bottom: 10px;
    -webkit-border-radius:4px;
    -moz-border-radius:4px;
    border-radius:4px;
    box-shadow:0 0 5px rgba(0,0,0,0.2);
    background-image: url(images/toolbar.png);
    background-repeat: repeat-x;
}
.bouton{
    background: url(images/tools.png);
    width: 40px;
    height: 40px;
    display: block;
    overflow: hidden;
    float: left;
    margin-left: 5px;
    cursor: pointer;
}
.pinceau{
    background-position: -45px 0;
    margin-left: 20px;
}
.pinceau.active{
    background-position: 0 0;
}
.chenille{
    background-position: -134px 0;
}
.chenille.active{
    background-position: -89px 0;
}
.cercle{
    background-position: -224px 0;
}
.cercle.active{
    background-position: -179px 0;
}
.sauvegarde{
    background-position: -584px 0;
}
.sauvegarde:active{
    background-position: -539px 0;
}
.historique{
    background-position: -494px 0;
}
.historique:active{
    background-position: -449px 0;
}
#canvas{margin-left: 35px;}