#position-tracker{
  position: absolute;
  z-index: 100;
  display: block;
  width:640px;
  height:480px;
  -moz-user-select: none;
}
#picker-layer{
  position: absolute;
  z-index: 10;
}
#proprietes{
  float: left;
  margin-left: 10px;
  background: #fff;
  width: 200px;
  padding: 10px;
  background: url(images/proprietes.png) repeat;
}