.pinceau{
    background-position: -45px 0;
    margin-left: 20px;
}
.pinceau.active{
    background-position: 0 0;
}
.chenille{
    background-position: -134px 0;
}
.chenille.active{
    background-position: -91px 0;
}
.cercle{
    background-position: -224px 0;
}
.cercle.active{
    background-position: -179px 0;
}
.rectangle{
    background-position: -674px 0;
}
.rectangle.active{
    background-position: -629px 0;
}
.sauvegarde{
    background-position: -584px 0;
}
.sauvegarde:active{
    background-position: -539px 0;
}
.crop{
    background-position: -404px 0;
}
.crop.active{
    background-position: -359px 0;
}
.historique{
    background-position: -494px 0;
}
.historique:active{
    background-position: -449px 0;
}
#canvas{
    float: left;
}
#crop-layer{
    position: absolute;
    width:640px;
    height:480px;
    z-index: -10;
}
#proprietes{
    float: left;
    margin-left: 10px;
    background: #fff;
    width: 200px;
    padding: 10px;
    background: url(images/proprietes.png) repeat;
}
.prop-box{
    border: solid 1px #fff;
    float: none;
    margin-bottom: 10px;
}
#proprietes .regles{
    text-align: center;
			}
.prop-box::after{
    content: ".";
    display: block;
    visibility: hidden;
    clear: both;
}
#proprietes label,
#proprietes .regles input,
#proprietes .regles,
#proprietes .regles *
{
    float: none;
    text-align: center;
    width: 99%;
}
