<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js"> <!--<![endif]-->
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <title>{{ page.title | site.author.name }}</title>
    {% if page.description %}<meta name="description" content="{{ page.description }}">{% endif %}
    <meta name="author" content="{{ site.author.name }}">
    <meta name="viewport" content="width=device-width">

    <!-- Place favicon.ico and apple-touch-icon.png in the root directory -->

    <link rel="stylesheet" href="{{ ASSET_PATH }}/css/normalize.css">
    <link rel="stylesheet" href="{{ ASSET_PATH }}/css/main.css">
    <link href='http://fonts.googleapis.com/css?family=Carter+One|Annie+Use+Your+Telescope' rel='stylesheet' type='text/css'>
    <script src="{{ ASSET_PATH }}/js/vendor/modernizr-2.6.2.min.js"></script>
    <!-- <script src="//ajax.googleapis.com/ajax/libs/jquery/1.8.2/jquery.min.js"></script> -->
    <!-- <script>window.jQuery || document.write('<script src="js/vendor/jquery-1.8.2.min.js"><\/script>')</script> -->
    <script src="{{ ASSET_PATH }}/js/vendor/zepto.min.js"></script>
  </head>
  <body>
    <div id="header-bg"></div>
    <header id="header" class="clearfix">
      <a id="site-name" href="{{ HOME_PATH }}">{{ site.logo_title }}</a>
      <ul class="links main-menu">
        <!-- {% assign pages_list = site.pages %} -->
        <!-- {% assign group = 'navigation' %} -->
        <!-- {% include JB/pages_list %} -->
	{% for weight in (1..10) %}
	  {% for node in site.pages %}
  	    {% if node.weight == weight %}
	      <li><a href="{{ node.url }}" {% if node.title == page.title %} class ="colored2" {% endif %}>{{ node.title }}</a></li>
	    {% endif %}
	  {% endfor %}
        {% endfor %}
      </ul>
    </header>
    <div class="container">
      <div class="content {{ page.id }}">
        {{ content }}
      </div>
      <footer>
        <p>&hearts; {{ site.author.name }} 2012
          with help from <a href="http://jekyllbootstrap.com" target="_blank" title="The Definitive Jekyll Blogging Framework">Jekyll Bootstrap</a>
        </p>
      </footer>
    </div> <!-- /container -->
    <!-- <script src="js/plugins.js"></script> -->
    <!-- <script src="js/main.js"></script> -->
    {% include JB/analytics %}
  </body>
</html>
