<div class="page-header">
  {% unless page.no-title %} <h1>{{ page.title }} {% if page.tagline %} <small>{{ page.tagline }}</small>{% endif %}</h1>{% endunless %}
</div>

<div class="row">
  <div class="span12 {{ page.type }}">
    {{ content }}
  </div>
</div>
