<footer class="pub-date">
  <div class="date"><span>{{ page.date | date_to_long_string }}</span></div>
</footer>

<div class="page-header">
  <h1 class="post-title">{{ page.title }}</h1>
</div>

<div class="row">
  {% if page.attachment %}
    {% for att in site.posts %}
      {% if att.title == page.attachment %}
        <div class="post-attachment clearfix">
	  <h4 class="post-attachment-title">{{ att.title }}</h4>
	  {{ att.content }}
	  {% if att.scripts %}
  	    {% for sc in att.scripts %}
	      <script src="{{sc}}"></script>
            {% endfor %}
          {% endif %}
	  {% if att.styles %}
  	    {% for sc in att.styles %}
	      <link rel="stylesheet" href="{{sc}}">
            {% endfor %}
          {% endif %}
	</div>
      {% endif %}
    {% endfor %}
  {% endif %}
  <div class="span8">
    {{ content }}
    {% include JB/comments %}
  </div>
</div>
{% if page.scripts %}
  {% for sc in page.scripts %}
    <script src="{{sc}}"></script>
  {% endfor %}
{% endif %}
{% if page.styles %}
  {% for sc in page.styles %}
    <link rel="stylesheet" href="{{sc}}">
  {% endfor %}
{% endif %}
