/*
 * HTML5 Boilerplate
 *
 * What follows is the result of much research on cross-browser styling.
 * Credit left inline and big thanks to Nicolas Gallagher, Jonathan Neal,
 * Kroc Camen, and the H5BP dev community and team.
 */

/* ==========================================================================
   Base styles: opinionated defaults
  ========================================================================== */

html,
button,
input,
select,
textarea {
    color: #222;
}

body {
    font-size: 1em;
    line-height: 1.4;
}

/*
 * Remove text-shadow in selection highlight: h5bp.com/i
 * These selection declarations have to be separate.
 * Customize the background color to match your design.
 */

::-moz-selection {
    background: #b3d4fc;
    text-shadow: none;
}

::selection {
    background: #b3d4fc;
    text-shadow: none;
}

/*
 * A better looking default horizontal rule
 */

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0;
}

/*
 * Remove the gap between images and the bottom of their containers: h5bp.com/i/440
 */

img {
    vertical-align: middle;
}

/*
 * Remove default fieldset styles.
 */

fieldset {
    border: 0;
    margin: 0;
    padding: 0;
}

/*
 * Allow only vertical resizing of textareas.
 */

textarea {
    resize: vertical;
}

/* ==========================================================================
   Chrome Frame prompt
   ========================================================================== */

.chromeframe {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}

/* ==========================================================================
   Author's custom styles
   ========================================================================== */

/********/
/* page */
/********/

body {
    background: url(../img/grid.png) repeat;
    font-family: 'Carter One', arial, serif;
}

.container {
    width: 960px;
    margin: 0 auto;
    padding: 0;
}

/***************/
/* global menu */
/***************/

#header {
    width: 960px;
    margin: 0 auto;
    padding: 0;
}

#header-bg {
    width: 100%;
    height: 53px;
    background: rgba(255, 255, 255, 0.5);
    position: absolute;
    z-index: -4;
}

#site-name {
    font-size: 40px;
    color: #4D4D4D;
    text-decoration: none;
    float: left;
    margin-right: 50px;
    font-weight: bold;
}

.main-menu li {
    list-style: none;
    margin-top: -24px;
}

.main-menu a {
    text-decoration: none;
    color: gray;
    margin: 20px 30px 30px 0;
    font-size: 19px;
    float: left;
}

.container footer, .container footer a {
    text-align: center;
    -webkit-transition: all 0.3s ease-out;
    -webkit-animation-name: colorit2;
    -webkit-animation-iteration-count: infinite;
    -webkit-animation-duration: 30s;
    -moz-transition: all 0.3s ease-out;
    -moz-animation-name: colorit2;
    -moz-animation-iteration-count: infinite;
    -moz-animation-duration: 30s;

    font-size: 13px;
}

/******************/
/* views promoted */
/******************/

#derniers_posts {
    color: #59A;
}

.promotion-list .post {
    float: none;
    clear: both;
    padding: 15px 25px 15px 15px;
    margin-bottom: 30px;
    margin-top: 15px;
    background: rgba(255, 255, 255, 0.8);
    box-shadow: 0 0 8px rgba(0, 0, 0, 0.3);
    border-bottom: 10px solid #E2E2E2;
}

.promotion-list .field-created {
    font-family: 'Annie Use Your Telescope', cursive;
    font-size: 15px;
    text-align: right;
    line-height: 15px;
    margin-right: -15px;
    margin-top: -36px;
    margin-bottom: 7px;
    color: #444;
}

.promotion-list .field-illustration {
    padding: 20px 35px 0px 10px;
    float: left;
    height: 177px;
}


.promotion-list .field-title {
    margin-top: 28px;
    margin-bottom: 10px;
}

.promotion-list .field-title a {
    text-decoration: none;
    color: #ED5A24;
    font-size: 22px;
    line-height: 24px;
}

.promotion-list .field-body {
    font-family: 'Helvetica Neue', Helvetica, Arial;
    font-size: 12px;
    line-height: 21px;
    text-align: justify;
    margin-right: 15px;
}

/***********/
/* content */
/***********/

.content {
    text-align: justify;
    background: rgba(255, 255, 255, 0.8);
    box-shadow: 0 0 6px rgba(0, 0, 0, 0.3);
    padding: 10px 10px 1px 10px;
}

.content.front {
    text-align: justify;
    background: none;
    box-shadow: none;
    padding: 0;
}

.post-title {
    padding: 0px 15px;
    color: #D0145A;
    font-size: 22px;
}

.pub-date {
    font-family: 'Annie Use Your Telescope', cursive;
    font-size: 15px;
    text-align: right;
    line-height: 15px;
    margin-right: 15px;
    margin-top: -30px;
    color: #444;
}

.span8, .txt.span12 {
    padding: 15px 50px;
    font-family: 'Helvetica Neue', Helvetica, Arial;
    font-size: 12px;
    line-height: 21px;
}

.span8 a, .span12.txt a {
    color: #59A;
    text-decoration: none;
}

.colored, .colored * {
  -webkit-transition: all 0.3s ease-out;
  -webkit-animation-name: colorit0;
  -webkit-animation-iteration-count: infinite;
  -webkit-animation-duration: 30s;
  -moz-transition: all 0.3s ease-out;
  -moz-animation-name: colorit0;
  -moz-animation-iteration-count: infinite;
  -moz-animation-duration: 30s;
}

.colored2, .colored2 * {
  -webkit-transition: all 0.3s ease-out;
  -webkit-animation-name: colorit1;
  -webkit-animation-iteration-count: infinite;
  -webkit-animation-duration: 30s;
  -moz-transition: all 0.3s ease-out;
  -moz-animation-name: colorit1;
  -moz-animation-iteration-count: infinite;
  -moz-animation-duration: 30s;
}

.colored1, .colored1 * {
  -webkit-transition: all 0.3s ease-out;
  -webkit-animation-name: colorit2;
  -webkit-animation-iteration-count: infinite;
  -webkit-animation-duration: 30s;
  -moz-transition: all 0.3s ease-out;
  -moz-animation-name: colorit2;
  -moz-animation-iteration-count: infinite;
  -moz-animation-duration: 30s;
}

.colored3, .colored3 * {
  -webkit-transition: all 0.3s ease-out;
  -webkit-animation-name: colorit3;
  -webkit-animation-iteration-count: infinite;
  -webkit-animation-duration: 30s;
  -moz-transition: all 0.3s ease-out;
  -moz-animation-name: colorit3;
  -moz-animation-iteration-count: infinite;
  -moz-animation-duration: 30s;
}


.no-underline, .no-underline * {
  text-decoration: none;
}

.centered, .centered * {
    text-align: center;
}

.blue {
    color: #59A;
}

h2.blue {
    margin: -0.17em;
}


/******************/
/* demos          */
/******************/

.post-attachment
{
    text-align: center;
    margin-bottom: 20px;
}

.post-attachment h4{
    margin: 0.33em;
}

/* colorit */

/* tracker container */
@-webkit-keyframes colorit0 {
    0% {color: #8F278B;}
    25% {color: #F38F1E;}
    50% {color: #88C23F;}
    75% {color: #E91E79;}
    100% {color: #8F278B;}
}
@-webkit-keyframes colorit1 {
    0% {color: #F38F1E;}
    25% {color: #88C23F;}
    50% {color: #E91E79;}
    75% {color: #29A7DE;}
    100% {color: #F38F1E;}
}
@-webkit-keyframes colorit4 {
    0% {color: #88C23F;}
    25% {color: #E91E79;}
    50% {color: #29A7DE;}
    75% {color: #8F278B;}
    100%{color: #88C23F;}
}
@-webkit-keyframes colorit3 {
    0% {color: #E91E79;}
    25% {color: #29A7DE;}
    50% {color: #8F278B;}
    75% {color: #F38F1E;}
    100%{color: #E91E79;}
}
@-webkit-keyframes colorit2 {
    0% {color: #29A7DE;}
    25% {color: #8F278B;}
    25% {color: #F38F1E;}
    75%{color: #88C23F;}
    100%{color: #29A7DE;}
}

@-moz-keyframes colorit0 {
    0% {color: #8F278B;}
    25% {color: #F38F1E;}
    50% {color: #88C23F;}
    75% {color: #E91E79;}
    100% {color: #8F278B;}
}
@-moz-keyframes colorit1 {
    0% {color: #F38F1E;}
    25% {color: #88C23F;}
    50% {color: #E91E79;}
    75% {color: #29A7DE;}
    100% {color: #F38F1E;}
}
@-moz-keyframes colorit4 {
    0% {color: #88C23F;}
    25% {color: #E91E79;}
    50% {color: #29A7DE;}
    75% {color: #8F278B;}
    100%{color: #88C23F;}
}
@-moz-keyframes colorit3 {
    0% {color: #E91E79;}
    25% {color: #29A7DE;}
    50% {color: #8F278B;}
    75% {color: #F38F1E;}
    100%{color: #E91E79;}
}
@-moz-keyframes colorit2 {
    0% {color: #29A7DE;}
    25% {color: #8F278B;}
    25% {color: #F38F1E;}
    75%{color: #88C23F;}
    100%{color: #29A7DE;}
}

/****************************************/
/* .				        */
/* .				        */
/* .                   CODE HIGHLIGHTER */
/* .				        */
/* .				        */
/****************************************/


.highlight  { background: #ffffff; }
.highlight .c { color: #999988; font-style: italic } /* Comment */
.highlight .err { color: #a61717; background-color: #e3d2d2 } /* Error */
.highlight .k { font-weight: bold } /* Keyword */
.highlight .o { font-weight: bold } /* Operator */
.highlight .cm { color: #999988; font-style: italic } /* Comment.Multiline */
.highlight .cp { color: #999999; font-weight: bold } /* Comment.Preproc */
.highlight .c1 { color: #999988; font-style: italic } /* Comment.Single */
.highlight .cs { color: #999999; font-weight: bold; font-style: italic } /* Comment.Special */
.highlight .gd { color: #000000; background-color: #ffdddd } /* Generic.Deleted */
.highlight .gd .x { color: #000000; background-color: #ffaaaa } /* Generic.Deleted.Specific */
.highlight .ge { font-style: italic } /* Generic.Emph */
.highlight .gr { color: #aa0000 } /* Generic.Error */
.highlight .gh { color: #999999 } /* Generic.Heading */
.highlight .gi { color: #000000; background-color: #ddffdd } /* Generic.Inserted */
.highlight .gi .x { color: #000000; background-color: #aaffaa } /* Generic.Inserted.Specific */
.highlight .go { color: #888888 } /* Generic.Output */
.highlight .gp { color: #555555 } /* Generic.Prompt */
.highlight .gs { font-weight: bold } /* Generic.Strong */
.highlight .gu { color: #aaaaaa } /* Generic.Subheading */
.highlight .gt { color: #aa0000 } /* Generic.Traceback */
.highlight .kc { font-weight: bold } /* Keyword.Constant */
.highlight .kd { font-weight: bold } /* Keyword.Declaration */
.highlight .kp { font-weight: bold } /* Keyword.Pseudo */
.highlight .kr { font-weight: bold } /* Keyword.Reserved */
.highlight .kt { color: #445588; font-weight: bold } /* Keyword.Type */
.highlight .m { color: #009999 } /* Literal.Number */
.highlight .s { color: #d14 } /* Literal.String */
.highlight .na { color: #008080 } /* Name.Attribute */
.highlight .nb { color: #0086B3 } /* Name.Builtin */
.highlight .nc { color: #445588; font-weight: bold } /* Name.Class */
.highlight .no { color: #008080 } /* Name.Constant */
.highlight .ni { color: #800080 } /* Name.Entity */
.highlight .ne { color: #990000; font-weight: bold } /* Name.Exception */
.highlight .nf { color: #990000; font-weight: bold } /* Name.Function */
.highlight .nn { color: #555555 } /* Name.Namespace */
.highlight .nt { color: #000080 } /* Name.Tag */
.highlight .nv { color: #008080 } /* Name.Variable */
.highlight .ow { font-weight: bold } /* Operator.Word */
.highlight .w { color: #bbbbbb } /* Text.Whitespace */
.highlight .mf { color: #009999 } /* Literal.Number.Float */
.highlight .mh { color: #009999 } /* Literal.Number.Hex */
.highlight .mi { color: #009999 } /* Literal.Number.Integer */
.highlight .mo { color: #009999 } /* Literal.Number.Oct */
.highlight .sb { color: #d14 } /* Literal.String.Backtick */
.highlight .sc { color: #d14 } /* Literal.String.Char */
.highlight .sd { color: #d14 } /* Literal.String.Doc */
.highlight .s2 { color: #d14 } /* Literal.String.Double */
.highlight .se { color: #d14 } /* Literal.String.Escape */
.highlight .sh { color: #d14 } /* Literal.String.Heredoc */
.highlight .si { color: #d14 } /* Literal.String.Interpol */
.highlight .sx { color: #d14 } /* Literal.String.Other */
.highlight .sr { color: #009926 } /* Literal.String.Regex */
.highlight .s1 { color: #d14 } /* Literal.String.Single */
.highlight .ss { color: #990073 } /* Literal.String.Symbol */
.highlight .bp { color: #999999 } /* Name.Builtin.Pseudo */
.highlight .vc { color: #008080 } /* Name.Variable.Class */
.highlight .vg { color: #008080 } /* Name.Variable.Global */
.highlight .vi { color: #008080 } /* Name.Variable.Instance */
.highlight .il { color: #009999 } /* Literal.Number.Integer.Long */

/* ==========================================================================
   Helper classes
   ========================================================================== */

/*
 * Image replacement
 */

.ir {
    background-color: transparent;
    border: 0;
    overflow: hidden;
    /* IE 6/7 fallback */
    *text-indent: -9999px;
}

.ir:before {
    content: "";
    display: block;
    width: 0;
    height: 100%;
}

/*
 * Hide from both screenreaders and browsers: h5bp.com/u
 */

.hidden {
    display: none !important;
    visibility: hidden;
}

/*
 * Hide only visually, but have it available for screenreaders: h5bp.com/v
 */

.visuallyhidden {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
}

/*
 * Extends the .visuallyhidden class to allow the element to be focusable
 * when navigated to via the keyboard: h5bp.com/p
 */

.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
    clip: auto;
    height: auto;
    margin: 0;
    overflow: visible;
    position: static;
    width: auto;
}

/*
 * Hide visually and from screenreaders, but maintain layout
 */

.invisible {
    visibility: hidden;
}

/*
 * Clearfix: contain floats
 *
 * For modern browsers
 * 1. The space content is one way to avoid an Opera bug when the
 *    `contenteditable` attribute is included anywhere else in the document.
 *    Otherwise it causes space to appear at the top and bottom of elements
 *    that receive the `clearfix` class.
 * 2. The use of `table` rather than `block` is only necessary if using
 *    `:before` to contain the top-margins of child elements.
 */

.clearfix:before,
.clearfix:after {
    content: " "; /* 1 */
    display: table; /* 2 */
}

.clearfix:after {
    clear: both;
}

/*
 * For IE 6/7 only
 * Include this rule to trigger hasLayout and contain floats.
 */

.clearfix {
    *zoom: 1;
}

/* ==========================================================================
   EXAMPLE Media Queries for Responsive Design.
   Theses examples override the primary ('mobile first') styles.
   Modify as content requires.
   ========================================================================== */

@media only screen and (min-width: 35em) {
    /* Style adjustments for viewports that meet the condition */
}

@media only screen and (-webkit-min-device-pixel-ratio: 1.5),
       only screen and (min-resolution: 144dpi) {
    /* Style adjustments for high resolution devices */
}

/* ==========================================================================
   Print styles.
   Inlined to avoid required HTTP connection: h5bp.com/r
   ========================================================================== */

@media print {
    * {
        background: transparent !important;
        color: #000 !important; /* Black prints faster: h5bp.com/s */
        box-shadow: none !important;
        text-shadow: none !important;
    }

    a,
    a:visited {
        text-decoration: underline;
    }

    a[href]:after {
        content: " (" attr(href) ")";
    }

    abbr[title]:after {
        content: " (" attr(title) ")";
    }

    /*
     * Don't show links for images, or javascript/internal links
     */

    .ir a:after,
    a[href^="javascript:"]:after,
    a[href^="#"]:after {
        content: "";
    }

    pre,
    blockquote {
        border: 1px solid #999;
        page-break-inside: avoid;
    }

    thead {
        display: table-header-group; /* h5bp.com/t */
    }

    tr,
    img {
        page-break-inside: avoid;
    }

    img {
        max-width: 100% !important;
    }

    @page {
        margin: 0.5cm;
    }

    p,
    h2,
    h3 {
        orphans: 3;
        widows: 3;
    }

    h2,
    h3 {
        page-break-after: avoid;
    }
}