			#toolbar{
				 height: 40px;
				 width: 250px;
				 margin-bottom: 10px;
				 -webkit-border-radius:4px;
				 -moz-border-radius:4px;
				 -o-border-radius:4px;
				 border-radius:4px;
				 border-radius:4px;
				 box-shadow:0 0 5px rgba(0,0,0,0.2);
				 background-image: url(http://www.cesar.lc/sites/www.cesar.lc/themes/cesarlc/experiences/canvastojson/img/toolbar.png);
				 background-repeat: repeat-x;
				 float: left;
				 margin-right: 20px;
			}
			#textarea{
				float: left;
			}
			.stuff{
				float: none;
				clear: both;
			}
			.stuff::after{
				content: " ";
				visibility: hidden;
				display: block;
				clear: both;
			}
			#toolbar .couleur,
			#toolbar .erase{
				width: 30px;
				height: 30px;
				 -webkit-border-radius:15px;
				 -moz-border-radius:20px;
				 -o-border-radius:20px;
				 border-radius:20px;
				 display: block;
				 float: left;
				 margin: 5px 5px;
				 font-size: 40px;
				 line-height: 30px;
				 color: #000;
			}
			#toolbar .couleur.active{
				-webkit-box-shadow: inset 0 0 8px rgba(0,0,0,0.3);
				-moz-box-shadow: inset 0 0 8px rgba(0,0,0,0.3);
				-o-box-shadow: inset 0 0 8px rgba(0,0,0,0.3);
				box-shadow: inset 0 0 8px rgba(0,0,0,0.3);
				border: 1px solid #acacac;
			}
			#canvas-bg{
				position:absolute;
			}
			#canvas-draw{
				position: absolute;
				z-index: 10;
			}
			#position-tracker{
				position: absolute;
				z-index: 100;
				display: block;
				background: rgba(12,30,8,0.1)
				margin:0;
				padding: 0;
				width: 840px;
				height: 223px;
				-moz-user-select: none;
			}
			#surfacedetravail{
				position: relative;
				width: 840px;
				border: gray 1px solid;
				height: 223px;
				margin:0;
				padding: 0;
				background: rgba(120,0,0,0.2)
			}